html, body, #map{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#overlay{
  padding: 12px;
  background-color: #fff;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
}